{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="row text-center pt-5 mt-5">
    <div class="col">
      <h4 class="display-4">Hi, {{ user.username }}!</h4>
      <a href="{% url 'main:logout' %}" class="btn btn-danger mt-3">Log Out</a>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row text-center pt-5 mt-5">
    <div class="col">
      <h4 class="display-4">You are not logged in</h4>
      <a href="{% url 'main:login' %}" class="btn btn-success mt-3">Log In</a>
    </div>
  </div>
</div>


{% endif %}
{% endblock content %}
