{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<form action="{% url 'main:login' %}" method="post">
    {% csrf_token %}
    <div class="container pt-5 mt-5">
        <div class="form-container">
            <h4 class="display-4 mb-3">Log in</h4>   
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" name="username" id="username">
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-success mt-3">Log in</button>
        {% if success == False %}
        <p style="color: red;">Login Failed</p>
        {% endif %}
        <p></p>
        <p>Don't have an account? <a href="{% url 'main:signup' %}">Sign Up</a></p>
        </div>
    </div>
    
</form>
{% endblock content %}
