{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Signup</title>
{% endblock meta %}

{% block content %}
<form action="{% url 'main:signup' %}" method="post">
    {% csrf_token %}
    <div class="container pt-5 mt-5">
        <div class="form-container">
            <h4 class="display-4 mb-3">Create Account</h2>   
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" name="username" id="username"><br>
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-at"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="E-mail" name="email" id="email"><br>
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password"><br>
            </div>
            <button type="submit" class="btn btn-success mt-3">Sign Up</button>
    
            <p></p>
            <p>Already have an account? <a href="{% url 'main:login' %}">Log in</a></p>
        </div>
    </div>
    
</form>
{% endblock content %}
